* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 90%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.logo { 
    height: 4rem;
}

h1 {
    margin: 30px 0px 30px 0px;
    font-size: 50px;
}

nav {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin: 30px 0px;
}

nav div {
    margin: 15px;
}

section {
    margin: 20px;
}

.carousel {
    display: flex;
    flex-direction: row;
}
.bestFilm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5%;
    width: 100%;
}

.bestFilmFirstColumn {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5%;
    align-items: center;
    width: 50%;
    margin: 5% 0%;
}

.playButton {
    /* width: 40%; */
    /* height: 20%; */
    padding: 4% 10% 4% 10%;
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
}

.bestFilmsDiv, .actionFilmsDiv, .comedyFilmsDiv, .animationFilmsDiv {
    display: flex;
    gap: 10px;
    align-items: center;
    list-style: none;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    order: 2;
}

.film {
    cursor: pointer;
    flex: 3 0 23%;
}

.film img {
    object-fit: cover;
    transition: 0.3s ease-in-out;
    height: auto;
    width: 100%;
    border-radius: 4px;
}

.film img:hover {
    transform: scale(1.1);
    /* margin: 20px 20px 20px 20px; */
}

.category {
    margin-left: 3%;
    font-size: 30px;
    font-weight: bold;
}

@media (max-width: 950px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

.slide-arrow {
    position: relative;
    display: flex;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
}
  
.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}
  
.slide-arrow-prev {
    border-radius: 0 2rem 2rem 0;
    order: 1;
}
  
.slide-arrow-next {
    border-radius: 2rem 0 0 2rem;
    justify-content: end;
    order: 3;
}

/*Image modal*/

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: -1px;
    animation: zoom 0.3s ease-in-out;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.modal-container {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    width: 80%;
    padding-right: 10%;
}

.firstColumn { 
    width: 50%;
}



.modal img {
    height: 100%;
    object-fit: cover;
}
.closeBtn {
    color: rgba(255, 255, 255, 0.87);
    font-size: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.closeBtn:hover {
    color: rgb(255, 255, 255);
}

